.form-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-container form {
    background-color: #f7f7f7;
    width: 40vw;
    padding: 15px;
    text-align: left;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 999px){
    .form-container form {
        width: 75vw;
    }
}

@media screen and (max-width: 667px) {
    .form-container form {
        width: 75vw;
    }
}
