.layout-content {
    width: 80%;
    margin: 0 auto;
    /*height: 100vh;*/
    background-color: #f7f7f7;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.layout-grid {
    white-space: nowrap;
    max-width: 100%;
    padding-top: 20px;
}

.content-div {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

.content-div img {
    max-width:95%;
    max-height:95%;
}

.content-text-div {
    padding-left: 20px;
}

.content-text {
    padding: 30px;


}

.slideshow {
    width: 75%;
    margin: 0 auto;
    padding-top: 20px;
}

.video-wrapper video {
    max-width: 100%;
}

@media screen and (max-width: 999px){
    .content-div {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .content-div img {
        max-width: 100%;
        max-height: 100%;
    }

    .slideshow {
        width: 100%;
        margin: 0 auto;
        padding-top: 0;
    }

    .content-text-div {
        padding-left: 0 ;
    }

    .content-text {
        padding: 30px;
    }
}
@media screen and (max-width: 667px) {
    .layout-content {
        width: 100%;
        margin: 0 auto;
        background-color: white;
    }

    .content-text {
        padding: 30px 0 30px 0;
    }
}
@media screen and (max-width: 500px){}
