#nav-title {
    font-size: 16pt;
    font-weight: 700;
}

.dropshadow {
    -webkit-box-shadow: 0 -8px 20px 0 black;
    -moz-box-shadow: 0 -8px 20px 0 black;
    box-shadow: 0 -8px 20px 0 black;
    position: sticky;
    top:0;
    z-index: 1020;
}

.navigation a{
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
}

.MuiSvgIcon-root {
    color: grey;
}

.MuiSvgIcon-root:hover {
    cursor: pointer;
    color: black;
}

.link-click {
    color: black;
    text-decoration: none;
    height: 29px;
}

.link-click:hover {
    background: rgba(209,209,209,0.3);
    color: grey;
    text-decoration: none;
}

.link-click:active {

}
