#nav-title {
    font-size: 16pt;
    font-weight: 700;
}

.dropshadow {
    -webkit-box-shadow: 0 2px 4px -4px black;
    -moz-box-shadow: 0 2px 4px -4px black;
    box-shadow: 0 2px 4px -4px black;
}

.MuiSvgIcon-root {
    color: grey;
}

.MuiSvgIcon-root:hover {
    cursor: pointer;
    color: black;
}

.link-click {
    color: black;
    text-decoration: none;
}

.link-click:hover {
    background: rgba(209,209,209,0.3);
    color: grey;
    text-decoration: none;
}

.link-click:active {

}
