#nav-title {
    font-size: 16pt;
    font-weight: 700;
}

.dropshadow {
    -webkit-box-shadow: 0 -8px 20px 0 black;
    -moz-box-shadow: 0 -8px 20px 0 black;
    box-shadow: 0 -8px 20px 0 black;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.nav-links {
    width: 20%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    line-height: 28px;
}

.MuiSvgIcon-root {
    color: grey;
}

.link-click {
    color: black;
    text-decoration: none;
    height: 29px;
}

.link-click:hover {
    color: #FE6B8B;
    text-decoration: none;
    opacity: 0.9;
}

.link-active {
    border-bottom: 3px solid #FE6B8B;
}

.nav-fix {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1020;
    margin-bottom: 90px;
    margin-right: 30px;
    width: 100px;
}

.icon-color {
    color: white;
}

.icon-sizing {
    width: 100px !important;
    border-radius: 50px !important;
    justify-content: space-evenly !important;
}

.nav-fix  li:hover .MuiSvgIcon-root {
    cursor: pointer;
    color: #FE6B8B;
}

.nav-fix li:hover {
    cursor: pointer;
    color: #FE6B8B;
}

.MuiSvgIcon-root:hover {
    cursor: pointer;
    color: #FE6B8B;
}

.inner {
    margin: 0 auto;
}

@media screen and (max-width: 998.9px) {
    .nav-links {
        width: 30%;
    }
}

@media screen and (max-width: 667px) {
    .nav-links {
        width: 40%;
    }
}

@media screen and (max-width: 500px){
    .nav-links {
        width: 50%;
    }
}
