.max-container {
    height: calc(100vh - (50px + 56px + 26px));
    overflow-x: hidden;
    position: relative;
}

.home-layout {
    width: 100%;
}

.grid {
    padding: 25px;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 20px;
    align-items: stretch;
    justify-content: center;
}

.grid a {
     box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
     max-width: 100%;
     object-fit: cover;
     max-height: 100%;
 }

@media screen and (max-width: 1400px){
    .grid {
        height: 100%;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: 250px;
        grid-gap: 20px;
        align-items: stretch;
        justify-content: center;
    }

    .grid a {
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
        max-width: 100%;
        object-fit: cover;
        max-height: 100%;
    }
}

@media screen and (max-width: 998.9px) {
    .home-layout {
        margin: 0 auto;
    }

    .grid {
        padding-top: 20px;
        height: 100%;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: 250px;
        grid-gap: 20px;
        align-items: stretch;
        justify-content: center;
    }

    .grid a {
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
        max-width: 100%;
        object-fit: cover;
        max-height: 100%;
    }
}

@media screen and (max-width: 667px) {
    .home-layout {
        width: 80%;
        margin: 0 auto;
    }

    .grid {
        padding-top: 20px;
        height: 100%;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: 250px;
        grid-gap: 20px;
        align-items: stretch;
        justify-content: center;
    }
}

@media screen and (max-width: 500px){
    .home-layout {
        width: 90%;
        margin: 0 auto;
    }

    .grid {
        padding-top: 20px;
        height: 100%;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: 200px;
        grid-gap: 20px;
        align-items: stretch;
        justify-content: center;
    }
}
