.uppershadow {
    -webkit-box-shadow: 0 8px 20px 0 black;
    -moz-box-shadow: 0 8px 20px 0 black;
    box-shadow: 0 8px 20px 0 black;
    height: 54px;
}

.color-clip {
    margin-top: 4px;
    width: 20px;
    height: 20px;
    background-color: grey; /* defines the background color of the image */
    mask: url("./cults.svg") no-repeat center / contain;
    -webkit-mask: url("./cults.svg") no-repeat center / contain;
}

.color-clip:hover {
    cursor: pointer;
    background: #FE6B8B;
}

