.outer {
    width: 100%;
    height: 100%;
    display: table;
}

.login-form {
    text-align: center;
    display:table-cell;
    vertical-align: middle;
}
.login-form form {
    margin: 30px auto;
    width: 385px;
    background: #f7f7f7;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .login-btn {
    min-height: 38px;
    border-radius: 2px;
}
.input-group-addon .fa {
    font-size: 18px;
}
.login-btn {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}
